div {
    border: 2px solid black; 
    border-radius: 15px;
    background-color: tan;
    text-align:center
    
}
img {
    width: 200px;
    border: 2px solid blue;
}

h1 {
    font-family: cursive;
    letter-spacing: 10px;
    text-decoration: underline overline;
    color:black
}


h2 {
    font-family: fantasy;
    font-size: smaller;
}